.set-item {
    color: black;
    background: #305F72;
    color: rgb(221, 220, 220);
    border: none;
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s ease;
    transition: border-radius .2s ease;
}

.set-item:hover {
    background: #568EA6;
    border-radius: 5px;
}

.active-set-item {
    color: black;
    background: #568EA6;
    color: rgb(221, 220, 220);
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
    transition: border-radius .2s ease;
}