.datasets {
    li {
        display: inline-block;
        text-align: center;
        margin: .5em;
        list-style-type: none;
    }
}

.datarows {
    td {
        padding: 1em;
        border-bottom: 1px #568EA6 solid;
    }
    button {
        margin-left: 1em;
    }
}